[req]
prompt=no
default_bits=2048
encrypt_key=no
default_md=sha1
distinguished_name=dn
# PrintableStrings only
string_mask=MASK:0002
x509_extensions=ext

default_keyfile=files/sp-key.pem

[dn]
CN=host.domain.tld

[ext]
subjectAltName= DNS.1:host.domain.tld, \
                URI.1:https://host.domain.tld/shibboleth
subjectKeyIdentifier=hash

