<?xml version="1.0" encoding="utf-8" ?>
<md:EntityDescriptor xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
 
  <md:SPSSODescriptor>
 
    <md:Extensions>
      <mdui:UIInfo xmlns:mdui="urn:oasis:names:tc:SAML:metadata:ui">
        <mdui:DisplayName xml:lang="en">DisplayName in English</mdui:DisplayName>
        <mdui:DisplayName xml:lang="cs">DisplayName v češtině</mdui:DisplayName>
        <mdui:Description xml:lang="en">Service description in English.</mdui:Description>
        <mdui:Description xml:lang="cs">Popis služby v češtině.</mdui:Description>
        <mdui:InformationURL xml:lang="en">https://www.example.org/en</mdui:InformationURL>
        <mdui:InformationURL xml:lang="cs">https://www.example.org/cs</mdui:InformationURL>
        <mdui:Logo height="100" width="100">https://www.example.org/logo.png</mdui:Logo>
      </mdui:UIInfo>
    </md:Extensions>
 
    <!--
       ... additional metadata, such as additional <AttributeConsumerService> elements when using multiple domains ...
       ... dodatečká metadata jako např. další <AttributeConsumerService> elementy při použití více domén ...
    -->
 
  </md:SPSSODescriptor>
 
  <md:Organization>
    <md:OrganizationName xml:lang="en">Organization, a. l. e.</md:OrganizationName>
    <md:OrganizationName xml:lang="cs">Organizace, z. s. p. o.</md:OrganizationName>
    <md:OrganizationDisplayName xml:lang="en">ORGANIZATION</md:OrganizationDisplayName>
    <md:OrganizationDisplayName xml:lang="cs">ORGANIZACE</md:OrganizationDisplayName>
    <md:OrganizationURL xml:lang="en">https://www.example.org/en</md:OrganizationURL>
    <md:OrganizationURL xml:lang="cs">https://www.example.org/cs</md:OrganizationURL>
  </md:Organization>
 
  <md:ContactPerson contactType="technical">
    <md:GivenName>John</md:GivenName>
    <md:SurName>Doe</md:SurName>
    <md:EmailAddress>mailto:john.doe@example.org</md:EmailAddress>
  </md:ContactPerson>
 
</md:EntityDescriptor>

